USE [master]
GO
/****** Object:  Database [KlubiFutbollistikTI1]    Script Date: 4/22/2020 10:17:22 PM ******/
CREATE DATABASE [KlubiFutbollistikTI1]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'KlubiFutbollistikTI1', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.SQLEXPRESS\MSSQL\DATA\KlubiFutbollistikTI1.mdf' , SIZE = 3072KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'KlubiFutbollistikTI1_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.SQLEXPRESS\MSSQL\DATA\KlubiFutbollistikTI1_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [KlubiFutbollistikTI1].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [KlubiFutbollistikTI1]
GO
/****** Object:  Table [dbo].[Delegati]    Script Date: 4/22/2020 10:17:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Delegati](
	[DelegatiID] [int] NOT NULL,
	[NdeshjaID] [int] NOT NULL,
	[PersoniID] [int] NOT NULL,
	[Roli] [nvarchar](50) NULL,
	[RaportPasNdeshjes] [text] NOT NULL,
	[InsertBy] [int] NOT NULL,
	[InsertDate] [date] NOT NULL,
	[LUB] [int] NOT NULL,
	[LUD] [date] NOT NULL,
	[LUN] [int] NOT NULL,
 CONSTRAINT [PK_Delegati] PRIMARY KEY CLUSTERED 
(
	[DelegatiID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Formacioni]    Script Date: 4/22/2020 10:17:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Formacioni](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[LojtariID] [int] NOT NULL,
	[Roli] [nvarchar](50) NULL,
	[NumriFanelles] [int] NULL,
	[StatusiID] [int] NOT NULL,
	[InsertBy] [int] NOT NULL,
	[InsertDate] [date] NOT NULL,
	[LUB] [int] NOT NULL,
	[LUD] [date] NOT NULL,
	[LUN] [int] NOT NULL,
 CONSTRAINT [PK__Formacio__DE714DBF821250D1] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Golashenues]    Script Date: 4/22/2020 10:17:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Golashenues](
	[NdeshjaID] [int] NOT NULL,
	[KlubiID] [int] NOT NULL,
	[LojtariID] [int] NOT NULL,
	[InsertBy] [int] NOT NULL,
	[InsertDate] [date] NOT NULL,
	[LUB] [int] NOT NULL,
	[LUD] [date] NOT NULL,
	[LUN] [int] NOT NULL,
 CONSTRAINT [PK__Golashen__5F4631A3B47C3387] PRIMARY KEY CLUSTERED 
(
	[NdeshjaID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Kategoria]    Script Date: 4/22/2020 10:17:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Kategoria](
	[KategoriaID] [int] NOT NULL,
	[Prej] [int] NULL,
	[Deri] [int] NULL,
	[PersoniID] [int] NOT NULL,
	[InsertBy] [int] NOT NULL,
	[InsertDate] [date] NOT NULL,
	[LUD] [date] NOT NULL,
	[LUN] [int] NOT NULL,
	[LUB] [int] NOT NULL,
 CONSTRAINT [PK__Kategori__37D210EC1A4F4737] PRIMARY KEY CLUSTERED 
(
	[KategoriaID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Klubi]    Script Date: 4/22/2020 10:17:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Klubi](
	[KlubiID] [int] NOT NULL,
	[Emertimi] [nvarchar](50) NULL,
	[Vendi] [nvarchar](50) NULL,
	[Stadiumi] [nvarchar](50) NULL,
	[Kryetari] [nvarchar](50) NULL,
	[LigaID] [int] NOT NULL,
	[Rezultati] [text] NOT NULL,
	[Themeluar] [date] NOT NULL,
	[InsertBy] [int] NOT NULL,
	[InsertDate] [date] NOT NULL,
	[LUB] [int] NOT NULL,
	[LUD] [date] NOT NULL,
	[LUN] [int] NOT NULL,
 CONSTRAINT [PK__Klubi__9A1791CF98787C32] PRIMARY KEY CLUSTERED 
(
	[KlubiID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Kontrolla_Mjekesore]    Script Date: 4/22/2020 10:17:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Kontrolla_Mjekesore](
	[KontrollaID] [int] NOT NULL,
	[KontrollaData] [date] NOT NULL,
	[Kontrolla] [varchar](50) NULL,
	[PersoniID] [int] NOT NULL,
	[InsertBy] [int] NOT NULL,
	[InsertDate] [date] NOT NULL,
	[LUB] [int] NOT NULL,
	[LUD] [date] NOT NULL,
	[LUN] [int] NOT NULL,
 CONSTRAINT [PK__Kontroll__068543168A1E9BCD] PRIMARY KEY CLUSTERED 
(
	[KontrollaID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Liga]    Script Date: 4/22/2020 10:17:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Liga](
	[LigaID] [int] NOT NULL,
	[KlubiID] [int] NOT NULL,
	[VitiKalendarik] [date] NOT NULL,
	[InsertBy] [int] NOT NULL,
	[InsertDate] [date] NOT NULL,
	[LUB] [int] NOT NULL,
	[LUD] [date] NOT NULL,
	[LUN] [int] NOT NULL,
 CONSTRAINT [PK__Liga__05567B173294EED6] PRIMARY KEY CLUSTERED 
(
	[LigaID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Lojtari]    Script Date: 4/22/2020 10:17:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Lojtari](
	[LojtariID] [int] NOT NULL,
	[PersoniID] [int] NOT NULL,
	[KategoriaID] [int] NOT NULL,
	[KlubiID] [int] NOT NULL,
	[KontrollaMjekesoreID] [int] NOT NULL,
	[Pesha] [decimal](18, 0) NULL,
	[Gjatesia] [decimal](18, 0) NULL,
	[InsertBy] [int] NOT NULL,
	[InsertDate] [date] NOT NULL,
	[LUB] [int] NOT NULL,
	[LUD] [date] NOT NULL,
	[LUN] [int] NOT NULL,
 CONSTRAINT [PK__Lojtari__DE714DBFF4BD6313] PRIMARY KEY CLUSTERED 
(
	[LojtariID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Lojtari_I_Ndeshjes]    Script Date: 4/22/2020 10:17:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Lojtari_I_Ndeshjes](
	[NdeshjaID] [int] NOT NULL,
	[KlubiID] [int] NOT NULL,
	[LojtariID] [int] NOT NULL,
	[Pozita] [nvarchar](50) NULL,
	[InsertBy] [int] NOT NULL,
	[InsertDate] [date] NOT NULL,
	[LUB] [int] NOT NULL,
	[LUD] [date] NOT NULL,
	[LUN] [int] NOT NULL,
 CONSTRAINT [PK__Lojtari___5F4631A3B29808F0] PRIMARY KEY CLUSTERED 
(
	[NdeshjaID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Ndeshja]    Script Date: 4/22/2020 10:17:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Ndeshja](
	[NdeshjaID] [int] NOT NULL,
	[DataNdeshjes] [date] NOT NULL,
	[VitiKalendarik] [date] NOT NULL,
	[Sezoni] [nvarchar](50) NULL,
	[KlubiID] [int] NOT NULL,
	[FormacioniID] [int] NOT NULL,
	[Stadiumi] [nvarchar](50) NULL,
	[RaportiAmbulances] [text] NULL,
	[RaportiPolicor] [text] NULL,
	[KlubiMysafir] [nvarchar](50) NULL,
	[KlubiNikoqir] [nvarchar](50) NULL,
	[LigaID] [int] NOT NULL,
	[InsertBy] [int] NOT NULL,
	[InsertDate] [date] NOT NULL,
	[LUB] [int] NOT NULL,
	[LUD] [date] NOT NULL,
	[LUN] [int] NOT NULL,
 CONSTRAINT [PK__Ndeshja__5F4631A3DEC23F82] PRIMARY KEY CLUSTERED 
(
	[NdeshjaID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Personeli]    Script Date: 4/22/2020 10:17:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Personeli](
	[PersoniID] [int] NOT NULL,
	[Emri] [nvarchar](50) NULL,
	[Mbiemri] [nvarchar](50) NULL,
	[Specializimi] [nvarchar](50) NULL,
	[Titulli] [nvarchar](50) NULL,
	[VendiIPunes] [nvarchar](50) NULL,
	[Gjinia] [bit] NULL,
	[Ditelindja] [date] NOT NULL,
	[Vendlindja] [nvarchar](50) NULL,
	[GrupiIGjakut] [nvarchar](50) NULL,
	[Shteti] [nvarchar](50) NULL,
	[Vendbanimi] [nvarchar](50) NULL,
	[Telefoni] [nvarchar](50) NULL,
	[Mail] [nvarchar](50) NULL,
	[AnetareteGrupit] [nvarchar](50) NULL,
	[NderrimiIPunes] [nvarchar](50) NULL,
	[InsertBy] [int] NOT NULL,
	[InsertDate] [date] NOT NULL,
	[LUB] [int] NOT NULL,
	[LUN] [int] NOT NULL,
	[LUD] [date] NOT NULL,
 CONSTRAINT [PK_tbl_Personeli] PRIMARY KEY CLUSTERED 
(
	[PersoniID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Pozita]    Script Date: 4/22/2020 10:17:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Pozita](
	[PozitaID] [int] NOT NULL,
	[Pozita] [nvarchar](50) NULL,
	[InsertBy] [int] NOT NULL,
	[InsertDate] [date] NOT NULL,
	[LUB] [int] NOT NULL,
	[LUD] [date] NOT NULL,
	[LUN] [int] NOT NULL,
 CONSTRAINT [PK__Pozita__5E0ECC18AD182160] PRIMARY KEY CLUSTERED 
(
	[PozitaID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Raporti]    Script Date: 4/22/2020 10:17:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Raporti](
	[VlersimiID] [int] NOT NULL,
	[KlubiID] [int] NOT NULL,
	[NdeshjaID] [int] NOT NULL,
	[PersoniIDNikoqir] [int] NOT NULL,
	[PersoniIDMysafir] [int] NOT NULL,
	[TekstiNikoqir] [text] NULL,
	[TekstiMysafir] [text] NULL,
	[InsertBy] [int] NOT NULL,
	[InsertDate] [date] NOT NULL,
	[LUB] [int] NOT NULL,
	[LUD] [date] NOT NULL,
	[LUN] [int] NOT NULL,
 CONSTRAINT [PK__Raporti__49DCD2F5D27BE169] PRIMARY KEY CLUSTERED 
(
	[VlersimiID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Referi]    Script Date: 4/22/2020 10:17:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Referi](
	[ReferiID] [int] NOT NULL,
	[NdeshjaID] [int] NOT NULL,
	[PersoniID] [int] NOT NULL,
	[PozitaID] [int] NOT NULL,
	[InsertBy] [int] NOT NULL,
	[InsertDate] [date] NOT NULL,
	[LUB] [int] NOT NULL,
	[LUD] [date] NOT NULL,
	[LUN] [int] NOT NULL,
 CONSTRAINT [PK__Referi__37F8C0797E065A62] PRIMARY KEY CLUSTERED 
(
	[ReferiID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Role]    Script Date: 4/22/2020 10:17:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Role](
	[RoleID] [int] NOT NULL,
	[EmriIRolit] [nvarchar](50) NULL,
	[InsertBy] [int] NOT NULL,
	[InsertDate] [date] NOT NULL,
	[LUB] [int] NOT NULL,
	[LUD] [date] NOT NULL,
	[LUN] [int] NOT NULL,
 CONSTRAINT [PK_Role] PRIMARY KEY CLUSTERED 
(
	[RoleID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[StafiKategorive]    Script Date: 4/22/2020 10:17:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[StafiKategorive](
	[KategoriaID] [int] NOT NULL,
	[PersoniID] [int] NOT NULL,
	[Pozita] [int] NULL,
	[KontrataDerMe] [date] NOT NULL,
	[InsertBy] [int] NOT NULL,
	[InsertDate] [date] NOT NULL,
	[LUB] [int] NOT NULL,
	[LUD] [date] NOT NULL,
	[LUN] [int] NOT NULL,
 CONSTRAINT [PK__StafiKat__37D210EC2A6CE55A] PRIMARY KEY CLUSTERED 
(
	[KategoriaID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Statusi_Lojtarit]    Script Date: 4/22/2020 10:17:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Statusi_Lojtarit](
	[StatusiID] [int] NOT NULL,
	[Pergjegjes] [nvarchar](50) NULL,
	[Rezerve] [nvarchar](50) NULL,
	[Huazim] [nvarchar](50) NULL,
	[Shoqerues] [nvarchar](50) NULL,
	[InsertBy] [int] NOT NULL,
	[InsertDate] [date] NOT NULL,
	[LUB] [int] NOT NULL,
	[LUD] [date] NOT NULL,
	[LUN] [int] NOT NULL,
 CONSTRAINT [PK__Statusi___5F15F9E1DA4CD177] PRIMARY KEY CLUSTERED 
(
	[StatusiID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Te_Larguar]    Script Date: 4/22/2020 10:17:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Te_Larguar](
	[Ndeshja] [int] NOT NULL,
	[KlubiID] [int] NOT NULL,
	[LojtariID] [int] NOT NULL,
	[Nderrim] [nvarchar](50) NULL,
	[Largim] [nvarchar](50) NULL,
	[InsertBy] [int] NOT NULL,
	[InsertDate] [date] NOT NULL,
	[LUB] [int] NOT NULL,
	[LUD] [date] NOT NULL,
	[LUN] [int] NOT NULL,
 CONSTRAINT [PK__Te_Largu__71A103F541A83DF3] PRIMARY KEY CLUSTERED 
(
	[Ndeshja] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[User]    Script Date: 4/22/2020 10:17:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[User](
	[UserID] [int] NOT NULL,
	[EmriIPerdoruesit] [nvarchar](50) NOT NULL,
	[PasswordiPerdoruesit] [nvarchar](50) NOT NULL,
	[DataSkadimit] [date] NOT NULL,
	[InsertBy] [int] NOT NULL,
	[InsertDate] [date] NOT NULL,
	[LUB] [int] NOT NULL,
	[LUD] [date] NOT NULL,
	[LUN] [int] NOT NULL,
 CONSTRAINT [PK_User] PRIMARY KEY CLUSTERED 
(
	[UserID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[UserRoles]    Script Date: 4/22/2020 10:17:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserRoles](
	[UserRolesID] [int] NOT NULL,
	[UserID] [int] NOT NULL,
	[RoleID] [int] NOT NULL,
 CONSTRAINT [PK_UserRoles] PRIMARY KEY CLUSTERED 
(
	[UserRolesID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Vlersimi]    Script Date: 4/22/2020 10:17:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Vlersimi](
	[VlersimiID] [int] NOT NULL,
	[KlubiID] [int] NOT NULL,
	[LojtariID] [int] NOT NULL,
	[Nota] [int] NULL,
	[InsertBy] [int] NOT NULL,
	[InsertDate] [date] NOT NULL,
	[LUB] [int] NOT NULL,
	[LUD] [date] NOT NULL,
	[LUN] [int] NOT NULL,
 CONSTRAINT [PK__Vlersimi__49DCD2F5CBA0143A] PRIMARY KEY CLUSTERED 
(
	[VlersimiID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
ALTER TABLE [dbo].[Delegati]  WITH CHECK ADD  CONSTRAINT [FK_Delegati_Ndeshja] FOREIGN KEY([NdeshjaID])
REFERENCES [dbo].[Ndeshja] ([NdeshjaID])
GO
ALTER TABLE [dbo].[Delegati] CHECK CONSTRAINT [FK_Delegati_Ndeshja]
GO
ALTER TABLE [dbo].[Delegati]  WITH CHECK ADD  CONSTRAINT [FK_Delegati_Personeli] FOREIGN KEY([PersoniID])
REFERENCES [dbo].[Personeli] ([PersoniID])
GO
ALTER TABLE [dbo].[Delegati] CHECK CONSTRAINT [FK_Delegati_Personeli]
GO
ALTER TABLE [dbo].[Formacioni]  WITH CHECK ADD  CONSTRAINT [FK_Formacioni_Lojtari] FOREIGN KEY([LojtariID])
REFERENCES [dbo].[Lojtari] ([LojtariID])
GO
ALTER TABLE [dbo].[Formacioni] CHECK CONSTRAINT [FK_Formacioni_Lojtari]
GO
ALTER TABLE [dbo].[Formacioni]  WITH CHECK ADD  CONSTRAINT [FK_Formacioni_Statusi_Lojtarit] FOREIGN KEY([StatusiID])
REFERENCES [dbo].[Statusi_Lojtarit] ([StatusiID])
GO
ALTER TABLE [dbo].[Formacioni] CHECK CONSTRAINT [FK_Formacioni_Statusi_Lojtarit]
GO
ALTER TABLE [dbo].[Golashenues]  WITH CHECK ADD  CONSTRAINT [FK_Golashenues_Klubi] FOREIGN KEY([KlubiID])
REFERENCES [dbo].[Klubi] ([KlubiID])
GO
ALTER TABLE [dbo].[Golashenues] CHECK CONSTRAINT [FK_Golashenues_Klubi]
GO
ALTER TABLE [dbo].[Golashenues]  WITH CHECK ADD  CONSTRAINT [FK_Golashenues_Lojtari] FOREIGN KEY([LojtariID])
REFERENCES [dbo].[Lojtari] ([LojtariID])
GO
ALTER TABLE [dbo].[Golashenues] CHECK CONSTRAINT [FK_Golashenues_Lojtari]
GO
ALTER TABLE [dbo].[Kategoria]  WITH CHECK ADD  CONSTRAINT [FK_Kategoria_StafiKategorive] FOREIGN KEY([KategoriaID])
REFERENCES [dbo].[StafiKategorive] ([KategoriaID])
GO
ALTER TABLE [dbo].[Kategoria] CHECK CONSTRAINT [FK_Kategoria_StafiKategorive]
GO
ALTER TABLE [dbo].[Klubi]  WITH CHECK ADD  CONSTRAINT [FK_Klubi_Liga] FOREIGN KEY([LigaID])
REFERENCES [dbo].[Liga] ([LigaID])
GO
ALTER TABLE [dbo].[Klubi] CHECK CONSTRAINT [FK_Klubi_Liga]
GO
ALTER TABLE [dbo].[Kontrolla_Mjekesore]  WITH CHECK ADD  CONSTRAINT [FK_Kontrolla_Mjekesore_Personeli] FOREIGN KEY([PersoniID])
REFERENCES [dbo].[Personeli] ([PersoniID])
GO
ALTER TABLE [dbo].[Kontrolla_Mjekesore] CHECK CONSTRAINT [FK_Kontrolla_Mjekesore_Personeli]
GO
ALTER TABLE [dbo].[Lojtari]  WITH CHECK ADD  CONSTRAINT [FK_Lojtari_Kategoria] FOREIGN KEY([KategoriaID])
REFERENCES [dbo].[Kategoria] ([KategoriaID])
GO
ALTER TABLE [dbo].[Lojtari] CHECK CONSTRAINT [FK_Lojtari_Kategoria]
GO
ALTER TABLE [dbo].[Lojtari]  WITH CHECK ADD  CONSTRAINT [FK_Lojtari_Klubi] FOREIGN KEY([KlubiID])
REFERENCES [dbo].[Klubi] ([KlubiID])
GO
ALTER TABLE [dbo].[Lojtari] CHECK CONSTRAINT [FK_Lojtari_Klubi]
GO
ALTER TABLE [dbo].[Lojtari]  WITH CHECK ADD  CONSTRAINT [FK_Lojtari_Kontrolla_Mjekesore] FOREIGN KEY([KontrollaMjekesoreID])
REFERENCES [dbo].[Kontrolla_Mjekesore] ([KontrollaID])
GO
ALTER TABLE [dbo].[Lojtari] CHECK CONSTRAINT [FK_Lojtari_Kontrolla_Mjekesore]
GO
ALTER TABLE [dbo].[Lojtari]  WITH CHECK ADD  CONSTRAINT [FK_Lojtari_Personeli] FOREIGN KEY([PersoniID])
REFERENCES [dbo].[Personeli] ([PersoniID])
GO
ALTER TABLE [dbo].[Lojtari] CHECK CONSTRAINT [FK_Lojtari_Personeli]
GO
ALTER TABLE [dbo].[Lojtari_I_Ndeshjes]  WITH CHECK ADD  CONSTRAINT [FK_Lojtari_I_Ndeshjes_Lojtari] FOREIGN KEY([LojtariID])
REFERENCES [dbo].[Lojtari] ([LojtariID])
GO
ALTER TABLE [dbo].[Lojtari_I_Ndeshjes] CHECK CONSTRAINT [FK_Lojtari_I_Ndeshjes_Lojtari]
GO
ALTER TABLE [dbo].[Ndeshja]  WITH CHECK ADD  CONSTRAINT [FK_Ndeshja_Golashenues] FOREIGN KEY([NdeshjaID])
REFERENCES [dbo].[Golashenues] ([NdeshjaID])
GO
ALTER TABLE [dbo].[Ndeshja] CHECK CONSTRAINT [FK_Ndeshja_Golashenues]
GO
ALTER TABLE [dbo].[Ndeshja]  WITH CHECK ADD  CONSTRAINT [FK_Ndeshja_Klubi] FOREIGN KEY([KlubiID])
REFERENCES [dbo].[Klubi] ([KlubiID])
GO
ALTER TABLE [dbo].[Ndeshja] CHECK CONSTRAINT [FK_Ndeshja_Klubi]
GO
ALTER TABLE [dbo].[Ndeshja]  WITH CHECK ADD  CONSTRAINT [FK_Ndeshja_Liga] FOREIGN KEY([LigaID])
REFERENCES [dbo].[Liga] ([LigaID])
GO
ALTER TABLE [dbo].[Ndeshja] CHECK CONSTRAINT [FK_Ndeshja_Liga]
GO
ALTER TABLE [dbo].[Ndeshja]  WITH CHECK ADD  CONSTRAINT [FK_Ndeshja_Lojtari_I_Ndeshjes] FOREIGN KEY([NdeshjaID])
REFERENCES [dbo].[Lojtari_I_Ndeshjes] ([NdeshjaID])
GO
ALTER TABLE [dbo].[Ndeshja] CHECK CONSTRAINT [FK_Ndeshja_Lojtari_I_Ndeshjes]
GO
ALTER TABLE [dbo].[Raporti]  WITH CHECK ADD  CONSTRAINT [FK_Raporti_Klubi] FOREIGN KEY([KlubiID])
REFERENCES [dbo].[Klubi] ([KlubiID])
GO
ALTER TABLE [dbo].[Raporti] CHECK CONSTRAINT [FK_Raporti_Klubi]
GO
ALTER TABLE [dbo].[Raporti]  WITH CHECK ADD  CONSTRAINT [FK_Raporti_Vlersimi] FOREIGN KEY([VlersimiID])
REFERENCES [dbo].[Vlersimi] ([VlersimiID])
GO
ALTER TABLE [dbo].[Raporti] CHECK CONSTRAINT [FK_Raporti_Vlersimi]
GO
ALTER TABLE [dbo].[Referi]  WITH CHECK ADD  CONSTRAINT [FK_Referi_Ndeshja] FOREIGN KEY([NdeshjaID])
REFERENCES [dbo].[Ndeshja] ([NdeshjaID])
GO
ALTER TABLE [dbo].[Referi] CHECK CONSTRAINT [FK_Referi_Ndeshja]
GO
ALTER TABLE [dbo].[Referi]  WITH CHECK ADD  CONSTRAINT [FK_Referi_Personeli] FOREIGN KEY([PersoniID])
REFERENCES [dbo].[Personeli] ([PersoniID])
GO
ALTER TABLE [dbo].[Referi] CHECK CONSTRAINT [FK_Referi_Personeli]
GO
ALTER TABLE [dbo].[Referi]  WITH CHECK ADD  CONSTRAINT [FK_Referi_Pozita] FOREIGN KEY([PozitaID])
REFERENCES [dbo].[Pozita] ([PozitaID])
GO
ALTER TABLE [dbo].[Referi] CHECK CONSTRAINT [FK_Referi_Pozita]
GO
ALTER TABLE [dbo].[Te_Larguar]  WITH CHECK ADD  CONSTRAINT [FK_Te_Larguar_Klubi] FOREIGN KEY([KlubiID])
REFERENCES [dbo].[Klubi] ([KlubiID])
GO
ALTER TABLE [dbo].[Te_Larguar] CHECK CONSTRAINT [FK_Te_Larguar_Klubi]
GO
ALTER TABLE [dbo].[Te_Larguar]  WITH CHECK ADD  CONSTRAINT [FK_Te_Larguar_Lojtari] FOREIGN KEY([LojtariID])
REFERENCES [dbo].[Lojtari] ([LojtariID])
GO
ALTER TABLE [dbo].[Te_Larguar] CHECK CONSTRAINT [FK_Te_Larguar_Lojtari]
GO
ALTER TABLE [dbo].[Te_Larguar]  WITH CHECK ADD  CONSTRAINT [FK_Te_Larguar_Ndeshja] FOREIGN KEY([Ndeshja])
REFERENCES [dbo].[Ndeshja] ([NdeshjaID])
GO
ALTER TABLE [dbo].[Te_Larguar] CHECK CONSTRAINT [FK_Te_Larguar_Ndeshja]
GO
ALTER TABLE [dbo].[UserRoles]  WITH CHECK ADD  CONSTRAINT [FK_UserRoles_Role] FOREIGN KEY([RoleID])
REFERENCES [dbo].[Role] ([RoleID])
GO
ALTER TABLE [dbo].[UserRoles] CHECK CONSTRAINT [FK_UserRoles_Role]
GO
ALTER TABLE [dbo].[UserRoles]  WITH CHECK ADD  CONSTRAINT [FK_UserRoles_User] FOREIGN KEY([UserID])
REFERENCES [dbo].[User] ([UserID])
GO
ALTER TABLE [dbo].[UserRoles] CHECK CONSTRAINT [FK_UserRoles_User]
GO
ALTER TABLE [dbo].[Vlersimi]  WITH CHECK ADD  CONSTRAINT [FK_Vlersimi_Klubi] FOREIGN KEY([KlubiID])
REFERENCES [dbo].[Klubi] ([KlubiID])
GO
ALTER TABLE [dbo].[Vlersimi] CHECK CONSTRAINT [FK_Vlersimi_Klubi]
GO
ALTER TABLE [dbo].[Vlersimi]  WITH CHECK ADD  CONSTRAINT [FK_Vlersimi_Lojtari] FOREIGN KEY([LojtariID])
REFERENCES [dbo].[Lojtari] ([LojtariID])
GO
ALTER TABLE [dbo].[Vlersimi] CHECK CONSTRAINT [FK_Vlersimi_Lojtari]
GO
/****** Object:  StoredProcedure [dbo].[usp_Delegat_EditoDelegat]    Script Date: 4/22/2020 10:17:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[usp_Delegat_EditoDelegat](
@Roli nvarchar(50),
@RaportPasNdeshjes text,
@InsertBy int,
@InsertDate date,
@LUB int,
@LUN INT,
@LUD date)
as begin
update Delegati
set Roli=@Roli,
RaportPasNdeshjes=@RaportPasNdeshjes,
InsertBy=@InsertBy,
InsertDate=@InsertDate,
LUB=@LUB,
LUN=@LUN,
LUD=@LUD
end

GO
/****** Object:  StoredProcedure [dbo].[usp_Delegat_MerriTeGjithaDelegat]    Script Date: 4/22/2020 10:17:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[usp_Delegat_MerriTeGjithaDelegat]
as
begin
select * from Delegati
end

GO
/****** Object:  StoredProcedure [dbo].[usp_Delegat_ShtoDelegat]    Script Date: 4/22/2020 10:17:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[usp_Delegat_ShtoDelegat] (
@Roli nvarchar(50),
@RaportPasNdeshjes text,
@InsertBy int,
@InsertDate date,
@LUB int,
@LUN INT,
@LUD date)
as 
begin
insert into Delegati(Roli,RaportPasNdeshjes,InsertBy,InsertDate,LUB,LUN,LUD)
values(@Roli,@RaportPasNdeshjes,@InsertBy,@InsertDate,@LUB,@LUN,@LUD)
end

GO
/****** Object:  StoredProcedure [dbo].[usp_Formacion_FshijFormacion]    Script Date: 4/22/2020 10:17:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[usp_Formacion_FshijFormacion]
(
@ID int
)
as
begin
delete from Formacioni where Id=@ID
end

GO
/****** Object:  StoredProcedure [dbo].[usp_Formacion_ShtoFormacion]    Script Date: 4/22/2020 10:17:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[usp_Formacion_ShtoFormacion](
@Roli nvarchar(50),
@NumriFanelles int,
@StatusiID int,
@InsertBy int,
@InsertDate date,
@LUB int,
@LUN INT,
@LUD date)
as
begin
insert into Formacioni(Roli,NumriFanelles,StatusiID,InsertBy,InsertDate,LUB,LUN,LUD)
values (@Roli,@NumriFanelles,@StatusiID,@InsertBy,@InsertDate,@LUB,@LUN,@LUD)
end

GO
/****** Object:  StoredProcedure [dbo].[usp_Formacioni_EditoFormacion]    Script Date: 4/22/2020 10:17:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[usp_Formacioni_EditoFormacion](
@Roli nvarchar(50),
@NumriFanelles int,
@StatusiID int,
@InsertBy int,
@InsertDate date,
@LUB int,
@LUN INT,
@LUD date
)
as
begin
update Formacioni
set Roli=@Roli,
NumriFanelles=@NumriFanelles,
StatusiID=@StatusiID,
InsertBy=@InsertBy,
InsertDate=@InsertDate,
LUB=@LUB,
lun=@LUN,
LUD=@LUD
end

GO
/****** Object:  StoredProcedure [dbo].[usp_Formacioni_MerriTeGjithaFormacion]    Script Date: 4/22/2020 10:17:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[usp_Formacioni_MerriTeGjithaFormacion]
as
begin
select * from Formacioni
end

GO
/****** Object:  StoredProcedure [dbo].[usp_Kategoria_EditoKategori]    Script Date: 4/22/2020 10:17:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[usp_Kategoria_EditoKategori](
@Prej int,
@Deri int,
@InsertBy int,
@InsertDate date,
@LUN INT,
@LUD date)
as 
begin
update Kategoria
set Prej=@Prej,
Deri=@Deri,
InsertBy=@InsertBy,
InsertDate=@InsertDate,
LUN=@LUN,
LUD=@LUD
end

GO
/****** Object:  StoredProcedure [dbo].[usp_Kategoria_FshijKategori]    Script Date: 4/22/2020 10:17:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[usp_Kategoria_FshijKategori](
@KategoriaID int )
as
begin
delete from Kategoria where KategoriaID=@KategoriaID
end

GO
/****** Object:  StoredProcedure [dbo].[usp_Kategoria_MerriTeGjithaKategori]    Script Date: 4/22/2020 10:17:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[usp_Kategoria_MerriTeGjithaKategori] 
as
begin
select * from Kategoria 
end


GO
/****** Object:  StoredProcedure [dbo].[usp_Kategoria_ShtoKategori]    Script Date: 4/22/2020 10:17:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[usp_Kategoria_ShtoKategori](
@Prej int,
@Deri int,
@InsertBy int,
@InsertDate date,
@LUN INT,
@LUD date,
@KategoriaID INT	)
as
begin
insert into Kategoria(Prej,Deri,InsertBy,InsertDate,LUN,LUD,KategoriaID)
values (@Prej,@Deri,@InsertBy,@InsertDate,@LUN,@LUD,@KategoriaID)
end

GO
/****** Object:  StoredProcedure [dbo].[usp_Klubi_EditoKlub]    Script Date: 4/22/2020 10:17:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[usp_Klubi_EditoKlub](
@Emertimi nvarchar(50),
@Vendi nvarchar(50),
@Stadiumi nvarchar(50),
@Kryetari nvarchar(50),
@Rezultati text,
@Themeluar date,
@InsertBy int,
@InsertDate date,
@LUB int,
@LUN INT,
@LUD date)
as begin 
update Klubi
set Emertimi=@Emertimi,
Vendi=@Vendi,
Stadiumi=@Stadiumi,
Kryetari=@Kryetari,
Rezultati=@Rezultati,
Themeluar=@Themeluar,
InsertBy=@InsertBy,
	InsertDate=@InsertDate,
	LUB=@LUB,
	LUN=@LUN,
	LUD=@LUD
	end

GO
/****** Object:  StoredProcedure [dbo].[usp_Klubi_FshijKlubin]    Script Date: 4/22/2020 10:17:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[usp_Klubi_FshijKlubin](
@KlubiID int )
as
begin 
delete from Klubi where KlubiID=@KlubiID
end


GO
/****** Object:  StoredProcedure [dbo].[usp_Klubi_MerriTeGjithaKlubi]    Script Date: 4/22/2020 10:17:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[usp_Klubi_MerriTeGjithaKlubi]
as
begin
select * from Klubi
end 

GO
/****** Object:  StoredProcedure [dbo].[usp_Klubi_ShtoKlub]    Script Date: 4/22/2020 10:17:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[usp_Klubi_ShtoKlub](
@Emertimi nvarchar(50),
@Vendi nvarchar(50),
@Stadiumi nvarchar(50),
@Kryetari nvarchar(50),
@Rezultati text,
@Themeluar date,
@InsertBy int,
@InsertDate date,
@LUB int,
@LUN INT,
@LUD date
)
as
begin
insert into Klubi(Emertimi,Vendi,Stadiumi,Kryetari,Rezultati,Themeluar,InsertBy,InsertDate,LUB,LUN,LUD)
values (@Emertimi,@Vendi,@Stadiumi,@Kryetari,@Rezultati,@Themeluar,@InsertBy,@InsertDate,@LUB,@LUN,@LUD)
end

GO
/****** Object:  StoredProcedure [dbo].[usp_KontrollaMjekesore_EditoKontrollaMjekesore]    Script Date: 4/22/2020 10:17:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[usp_KontrollaMjekesore_EditoKontrollaMjekesore](
@KontrollaData date,
@Kontrolla varchar(50),
@InsertBy int,
@InsertDate date,
@LUB int,
@LUD date,
@LUN INT 
)
as
begin
update Kontrolla_Mjekesore 
set KontrollaData=@KontrollaData,
Kontrolla=@Kontrolla,
InsertBy=@InsertBy,
InsertDate=@InsertDate,
LUB=@LUB,
LUD=@LUD,
LUN=@LUN
end

GO
/****** Object:  StoredProcedure [dbo].[usp_KontrollaMjekesore_MerriTeGjithaKontrollatMjekesore]    Script Date: 4/22/2020 10:17:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[usp_KontrollaMjekesore_MerriTeGjithaKontrollatMjekesore]
as
begin
select * from Kontrolla_Mjekesore
end


GO
/****** Object:  StoredProcedure [dbo].[usp_KontrollaMjekesore_ShtoKontrollMjekesore]    Script Date: 4/22/2020 10:17:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[usp_KontrollaMjekesore_ShtoKontrollMjekesore](
@KontrollaData date,
@Kontrolla varchar(50),
@InsertBy int,
@InsertDate date,
@LUB int,
@LUD date,
@LUN INT 
)
as
begin
insert into Kontrolla_Mjekesore(KontrollaData,Kontrolla,InsertBy,InsertDate,LUB,LUD,LUN)
values (@KontrollaData,@Kontrolla,@InsertBy,@InsertDate,@LUB,@LUD,@LUN)
end

GO
/****** Object:  StoredProcedure [dbo].[usp_KontrollaMjeksore_FshijKontrollaMjeksore]    Script Date: 4/22/2020 10:17:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[usp_KontrollaMjeksore_FshijKontrollaMjeksore]
(
@KontrollaID int
)
as
begin 
delete from Kontrolla_Mjekesore where KontrollaID=@KontrollaID
end


GO
/****** Object:  StoredProcedure [dbo].[usp_Lojtar_EditoLojtar]    Script Date: 4/22/2020 10:17:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[usp_Lojtar_EditoLojtar](
@Pesha decimal,
@Gjatesia decimal,
@InsertBy int,
@InsertDate date,
@LUB int,
@LUN INT,
@LUD date)
as begin 
update Lojtari
set Pesha=@Pesha,
Gjatesia=@Gjatesia,
InsertBy=@InsertBy,
InsertDate=@InsertDate,
LUB=@LUB,
LUN=@LUN,
LUD=@LUD
end

GO
/****** Object:  StoredProcedure [dbo].[usp_Lojtar_FshijLojtar]    Script Date: 4/22/2020 10:17:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[usp_Lojtar_FshijLojtar](
@LojtariID int
)
as 
begin
delete from Lojtari where LojtariID=@LojtariID
end

GO
/****** Object:  StoredProcedure [dbo].[usp_Lojtar_MerriTEgjithaLojtar]    Script Date: 4/22/2020 10:17:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[usp_Lojtar_MerriTEgjithaLojtar]
as
begin 
select * from Lojtari
end

GO
/****** Object:  StoredProcedure [dbo].[usp_Lojtari_ShtoLojtar]    Script Date: 4/22/2020 10:17:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[usp_Lojtari_ShtoLojtar](
@Pesha decimal,
@Gjatesia decimal,
@InsertBy int,
@InsertDate date,
@LUB int,
@LUN INT,
@LUD date)
as
begin 
insert into Lojtari(Pesha,Gjatesia,InsertBy,InsertDate,LUB,LUN,LUD)
values (@Pesha,@Gjatesia,@InsertBy,@InsertDate,@LUB,@LUN,@LUD)
end

GO
/****** Object:  StoredProcedure [dbo].[usp_LojtariINdeshjes_EditoLojtarNdeshjes]    Script Date: 4/22/2020 10:17:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[usp_LojtariINdeshjes_EditoLojtarNdeshjes](
@Pozita nvarchar(50),
@InsertBy int,
@InsertDate date,
@Lub int,
@Lud date,
@Lun int )
as
begin
update Lojtari_I_Ndeshjes
set Pozita=@Pozita,
InsertBy=@InsertBy,
InsertDate=@InsertDate,
LUB=@Lub,
LUD=@Lud,
LUN=@Lun
end
GO
/****** Object:  StoredProcedure [dbo].[usp_LojtariINdeshjes_FshijTegjithaLojtarNdeshjes]    Script Date: 4/22/2020 10:17:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[usp_LojtariINdeshjes_FshijTegjithaLojtarNdeshjes]
(
@NdeshjaID int
)
as
begin
delete from Lojtari_I_Ndeshjes where NdeshjaID=@NdeshjaID
end

GO
/****** Object:  StoredProcedure [dbo].[usp_LojtariINdeshjes_MerriTegjithaLojtarNdeshjes]    Script Date: 4/22/2020 10:17:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[usp_LojtariINdeshjes_MerriTegjithaLojtarNdeshjes]
as
begin
select * from Lojtari_I_Ndeshjes
end 
GO
/****** Object:  StoredProcedure [dbo].[usp_LojtariINdeshjes_ShtoLojtarNdeshjes]    Script Date: 4/22/2020 10:17:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[usp_LojtariINdeshjes_ShtoLojtarNdeshjes](
@Pozita nvarchar(50),
@InsertBy int,
@InsertDate date,
@Lub int,
@Lud date,
@Lun int )
as
begin
insert into Lojtari_I_Ndeshjes(Pozita,InsertBy,InsertDate,LUB,LUD,LUN)
values(@Pozita,@InsertBy,@InsertDate,@Lub,@Lud,@Lun)
end
GO
/****** Object:  StoredProcedure [dbo].[usp_Personel_FshijPersonel]    Script Date: 4/22/2020 10:17:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[usp_Personel_FshijPersonel]
(
	@PersoniID int
)
as
begin 
	delete from Personeli where PersoniID=@PersoniID 
end



GO
/****** Object:  StoredProcedure [dbo].[usp_Personel_GetAllPersonel]    Script Date: 4/22/2020 10:17:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[usp_Personel_GetAllPersonel]
as
begin
select * from Personeli
end



GO
/****** Object:  StoredProcedure [dbo].[usp_Personel_ShtoPersonel]    Script Date: 4/22/2020 10:17:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


create PROCEDURE[dbo].[usp_Personel_ShtoPersonel](
@Emri nvarchar(50),
@Mbiemri nvarchar(50), 
@Specializimi nvarchar(50),
@Titulli nvarchar(50),
@VendiIPunes nvarchar(50),
@Gjinia bit,
@Ditelindja date,
@Vendlindja nvarchar(50),
@GrupiIGjakut nvarchar(50),
@Shteti nvarchar(50),
@Vendbanimi nvarchar(50),
@Telefoni nvarchar(50),
@Mail nvarchar(50),
@AnetareteGrupit nvarchar(50),
@NderrimiIPunes nvarchar(50),
@InsertBy int,
@InsertDate date,
@LUB int,
@LUN INT,
@LUD date)
as
begin
	insert into Personeli(Emri, Mbiemri, Specializimi, Titulli, VendiIPunes,Gjinia,Ditelindja,Vendlindja,GrupiIGjakut,Shteti,
	Vendbanimi,Telefoni,Mail,AnetareteGrupit,NderrimiIPunes,InsertBy,InsertDate,LUB,LUN,LUD)
	 
	values (@Emri, @Mbiemri,  @Specializimi, @Titulli, @VendiIPunes,@Gjinia,@Ditelindja,@Vendlindja,@GrupiIGjakut,@Shteti,
	 @Vendbanimi,@Telefoni,@Mail,@AnetareteGrupit,@NderrimiIPunes,@InsertBy,@InsertDate,@LUB,@LUN,@LUD)
end



GO
/****** Object:  StoredProcedure [dbo].[usp_Personel_UpdatePersonel]    Script Date: 4/22/2020 10:17:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[usp_Personel_UpdatePersonel]
(
@Emri nvarchar(50),
@Mbiemri nvarchar(50), 
@Specializimi nvarchar(50),
@Titulli nvarchar(50),
@VendiIPunes nvarchar(50),
@Gjinia bit,
@Ditelindja date,
@Vendlindja nvarchar(50),
@GrupiIGjakut nvarchar(50),
@Shteti nvarchar(50),
@Vendbanimi nvarchar(50),
@Telefoni nvarchar(50),
@Mail nvarchar(50),
@AnetareteGrupit nvarchar(50),
@NderrimiIPunes nvarchar(50),
@InsertBy int,
@InsertDate date,
@LUB int,
@LUN INT,
@LUD date
)
as
begin
	update Personeli
	set Emri=@Emri, 
	Mbiemri= @Mbiemri,
	Specializimi =@Specializimi,
	Titulli = @Titulli,
	 VendiIPunes=@VendiIPunes,
	 Gjinia=@Gjinia,
	 Ditelindja=@Ditelindja,
	 Vendlindja=@Vendlindja,
	 GrupiIGjakut=@GrupiIGjakut,
	 Shteti =@Shteti,
	Vendbanimi=@Vendbanimi,
	Telefoni=@Telefoni,
	Mail=@Mail,
	AnetareteGrupit=@AnetareteGrupit,
	NderrimiIPunes=@NderrimiIPunes,
	InsertBy=@InsertBy,
	InsertDate=@InsertDate,
	LUB=@LUB,
	LUN=@LUN,
	LUD=@LUD
end



GO
/****** Object:  StoredProcedure [dbo].[usp_StafiKategorive_EditoStaf]    Script Date: 4/22/2020 10:17:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[usp_StafiKategorive_EditoStaf] (
@Pozita int,
@KontrataDerMe date,
@InsertBy int,
@InsertDate date,
@Lub int ,
@Lud date ,
@Lun int
)
as
begin
update StafiKategorive 
set Pozita=@Pozita,
KontrataDerMe=@KontrataDerMe,
InsertBy=@InsertBy,
InsertDate=@InsertDate,
LUB=@Lub,
LUD=@Lud,
LUN=@Lun
end

GO
/****** Object:  StoredProcedure [dbo].[usp_StafiKategorive_FshijgjithaStaf]    Script Date: 4/22/2020 10:17:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[usp_StafiKategorive_FshijgjithaStaf]
(
@KategoriaID int
)
as
begin
delete from StafiKategorive where KategoriaID=@KategoriaID
end
GO
/****** Object:  StoredProcedure [dbo].[usp_StafiKategorive_MerrTegjithaStaf]    Script Date: 4/22/2020 10:17:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[usp_StafiKategorive_MerrTegjithaStaf]
as
begin
select * from StafiKategorive
end
GO
/****** Object:  StoredProcedure [dbo].[usp_StafiKategorive_ShtoStaf]    Script Date: 4/22/2020 10:17:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[usp_StafiKategorive_ShtoStaf](
@Pozita int,
@KontrataDerMe date,
@InsertBy int,
@InsertDate date,
@Lub int ,
@Lud date ,
@Lun int

)
as
begin
insert into StafiKategorive(Pozita,KontrataDerMe,InsertBy,InsertDate,LUB,LUD,LUN)
values (@Pozita,@KontrataDerMe,@InsertBy,@InsertDate,@Lub,@Lud,@Lun)
end
GO
/****** Object:  StoredProcedure [dbo].[usp_Vlerimi_FshijVlersim]    Script Date: 4/22/2020 10:17:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[usp_Vlerimi_FshijVlersim]
(
@VlersimiID int 
)
as 
begin
delete from Vlersimi where VlersimiID=@VlersimiID
end

GO
/****** Object:  StoredProcedure [dbo].[usp_Vlerimi_NdryshoVlersim]    Script Date: 4/22/2020 10:17:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[usp_Vlerimi_NdryshoVlersim](
@Nota int,
@InsertBy int,
@InsertDate date,
@LUB int,
@LUD date,
@LUN int
)
as
begin
update Vlersimi
set Nota=@Nota,
InsertBy=@InsertBy,
InsertDate=@InsertDate,
LUB=@LUB,
LUD=@LUD,
LUN=@LUN
end

GO
/****** Object:  StoredProcedure [dbo].[usp_Vlerimi_ShtoTegjithaVlersim]    Script Date: 4/22/2020 10:17:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[usp_Vlerimi_ShtoTegjithaVlersim]
as
begin
select * from Vlersimi
end

GO
/****** Object:  StoredProcedure [dbo].[usp_Vlerimi_ShtoVlersim]    Script Date: 4/22/2020 10:17:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[usp_Vlerimi_ShtoVlersim](
@Nota int,
@InsertBy int,
@InsertDate date,
@LUB int,
@LUD date,
@LUN int
)
as
begin
insert into Vlersimi(Nota,InsertBy,InsertDate,LUB,LUD,LUN)
values (@Nota,@InsertBy,@InsertDate,@LUB,@LUD,@LUN)
end
GO
USE [master]
GO
